
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            width: 100%;
        }
        
        #top {
            background: #816823;
            width: 100;
            height: 1000px;
        }
        
        .fltit {
            width: 100%;
        }
        
        #onefl {
            height: 400px;
            background: red;
        }
        
        #twofl {
            height: 400px;
            background: green;
        }
        
        #thrfl {
            height: 400px;
            background: blue;
        }
        
        #foufl {
            height: 400px;
            background: red;
        }
        
        #fivfl {
            height: 400px;
            background: pink;
        }
        
        #sixfl {
            height: 400px;
            background: green;
        }
        
        #sevfl {
            height: 400px;
            background: blue;
        }
        
        #eigfl {
            height: 400px;
            background: red;
        }
        
        #ninfl {
            height: 400px;
            background: #ddd;
        }
        
        #tenfl {
            height: 400px;
            background: green;
        }
        
        #elefl {
            height: 400px;
            background: red;
        }
        
        #twefl {
            height: 400px;
            background: blue;
        }
        
        #twefb {
            height: 800px;
            background: pink;
        }
        /*µ¼º½À¸*/
        
        #lbfix {
            position: fixed;
            display: block;
        }
        
        #lbfix div {
            width: 30px;
            height: 30px;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            color: #666;
            background: #fff url(../img/xiazai.png) 0 0 no-repeat;
        }
        
        #lbfix div:hover {
            background: #c81623 url(../img/xiazai.png) 0 0 no-repeat;
            color: #fff;
        }
        
        #lbfix .lbfseled {
            color: #c81623;
            font-size: 12px;
            font-family: 'ËÎÌå';
        }